<div>
  <h1><strong>
    <%= restaurant.name %>
  </h1></strong>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Cuisine:</strong>
    <%= restaurant.category.capitalize %>
  </p>

</div>
